/* .slotvalues {
  font-size: 3.125rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
} */
.index-module_slot__DpPgW {
  font-size: 3.125rem !important;
  /* padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important; */
  border-left: 0.1875rem solid rgb(77, 68, 68);
  border-right: 0.1875rem solid rgb(77, 68, 68);
  font-weight: 500;
  background-color: #fff;
  height: 2rem;
}

.example-button {
  color: white;
}

.index-module_slot_wrap__ZT-DX :nth-child(1) {
  margin-left: 0;
}
.index-module_slot_wrap__ZT-DX :nth-child(2),
.index-module_slot_wrap__ZT-DX :nth-child(3),
.index-module_slot_wrap__ZT-DX :nth-child(4),
.index-module_slot_wrap__ZT-DX :nth-child(5) {
  margin-left: 0.625rem;
}
.outer_div {
  background: rgb(190, 188, 188);
  box-shadow: -0.9375rem -0.9375rem -0.9375rem rgba(219, 63, 63, 0.2),
    0.9375rem 0.9375rem 0.9375rem rgba(226, 61, 61, 0.1),
    inset -0.3125rem -0.3125rem -0.3125rem rgba(201, 55, 55, 0.2),
    inset 0.3125rem 0.3125rem 0.3125rem rgba(201, 54, 54, 0.1);
}

/*---------------------------*/
.index-module_slot__DpPgW {
  height: 2.625rem !important;
  /* height: 1.875rem !important; */
  /* width: auto;   */
}

.index-module_num__j6XH3 {
  /* height: 1.875rem; */
  height: 2.625rem;
  width: 0.813rem;
  /* line-height: 1.875rem;
  font-size: 2.1875rem; */
  line-height: 2.5rem;
  font-size: 2.5rem;
}
.dot {
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background-color: black;
}
.digits_dot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 0.625rem;
  font-size: 0.3rem;
}
.slotWidth {
  width: 35%;
}
.slot_main_div {
  position: relative;
}

.slot_main_div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 32px;
  border-top: 8px solid transparent;
  border-left: 10px solid #919993;
  border-bottom: 8px solid transparent;
  left: 0px;
  top: -0.4px;
}
.slot_main_div:before {
  content: "";
  position: absolute;
  width: 0;
  height: 32px;
  border-top: 8px solid transparent;
  border-right: 10px solid #919993;
  border-bottom: 8px solid transparent;
  right: 0px;
  top: -0.4px;
}
.bg_gray_div {
  padding: 0 5px;
}