* {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}
.home_main_div {
  background-image: url("../images/home1.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_text {
  font-size: 5.8125rem;
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: 0.1875rem white;
}
.home_text p:nth-child(3) {
  font-size: 6.875rem;
  font-weight: 800;
}
.main_div {
  background-image: url("../images/lottery_bg.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_div_second {
}
.pxwell {
  -webkit-text-stroke: 0.125rem #fff;
}
.small_screen {
  display: none;
}

/*-------   priyanka----------*/
.draw {
  position: relative;
}
.draw img {
  width: 37.5rem;
  height: 3.75rem;
}

.draw-1 {
  position: relative;
}

.draw_text1 {
  position: absolute;
  bottom: 1.375rem;
  left: 0;
  right: 0;
  font-size: 1.4375rem;
  text-transform: uppercase;
  letter-spacing: 0.5625rem;
  font-weight: 800;
  color: #e20608;
  text-align: center;
}

.draw_text2 {
  position: absolute;
  bottom: 0.375rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  color: #fff;
}

.prize {
  background-color: #ec1300;
  width: 100%;
  height: 99%;
  border-radius: 50%;
  border: 0.1875rem solid #fff;
  position: relative;
}

.first {
  position: absolute;
  top: 6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.prize_img {
  width: 72%;
}

.prize_number {
  position: absolute;
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 900;
}
.pri,
.digit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_full {
  width: 12rem;
}
.sidebar_half {
  width: 3rem;
}
.prize_text h4 {
  font-size: 2.75rem;
  font-weight: 700;
  position: relative;
  top: 11.4375rem;
  left: 2.875rem;
}
.digit h3 {
  text-align: center;
  position: absolute;
  top: 49%;
  font-size: 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #040302;
  -webkit-text-stroke: 0.0625rem #fff;
}
.pri h2 {
  text-align: center;
  position: absolute;
  top: 32%;
  font-size: 3rem;
  font-weight: 700;
  color: #67cbcb;
  text-transform: capitalize;
}
.px-2 h2 {
  font-size: 4.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 0.9375rem;
  -webkit-text-stroke: 0.0625rem #fff;
  padding: 0;
}
.oval_div {
  width: 8.125rem;
}

.lottery {
  height: 3.75rem;
  width: 31.25rem;
}
.prize {
  -webkit-text-stroke: 0.0625rem #fff;
}

.curve {
  border-radius: 50% 50% 47% 53% / 52% 54% 46% 48%;
  width: 9.9375rem;
}
.logo {
  height: 1.6875rem;
  width: 1.25rem;
}
.bottom_logo {
  height: 3.125rem;
  width: 4.375rem;
}
.colorChange {
  color: yellow;
}
.word {
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 45%;
  text-align: center;
}
.word span {
  display: inline-block;
  position: relative;
  transform: translateY(-26.5625rem);
  animation: fall 2s forwards, jump 0.6s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}
.middle_text_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fall_blink_text {
  height: 17.5rem;
}
.slot_component {
  width: 74%;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }
  35% {
    transform: translateY(-0.75rem) scaleY(1);
  }
  75% {
    transform: translate3d(0, 0.625rem, 0) scaleY(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }
}

.blink {
  animation: blinks 1.2s linear infinite;
}

@keyframes blinks {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.word span:nth-child(1) {
  animation-delay: 0s, 1.8s;
}

.word span:nth-child(2) {
  animation-delay: 0.5s, 2.5s;
}

.word span:nth-child(3) {
  animation-delay: 1s, 3s;
}

.word span:nth-child(4) {
  animation-delay: 1.5s, 3.5s;
}

.word span:nth-child(5) {
  animation-delay: 2s, 4s;
}

.word span:nth-child(6) {
  animation-delay: 2.5s, 4.5s;
}

.secoundPrizeNo {
  color: red;
  -webkit-text-stroke: 0.125rem #fff;
  font-size: 9.375rem;
  font-weight: 900;
  margin-top: -3.125rem;
}
.nd {
  font-size: 5.625rem;
}
.number {
  font-size: 11.25rem;
}
.bottom_text {
  color: green;
  font-weight: bold;
  font-size: 3.75rem;
}
.typing_text_main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 3.75rem;
  font-weight: 800;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 100vh;
  width: 100vw;
}

.dynamik_text li span {
  position: relative;
}

.dynamik_text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  animation: typess 7.5s steps(35) forwards;
}

@keyframes typess {
  100% {
    left: 100%;
    margin: 0 -2.1875rem 0 2.1875rem;
  }
}
.typing_text_2_main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.6875rem;
  font-weight: 800;
  color: white;
  height: 7.9375rem;
  text-align: center;
}

.dynamik_text2 li span {
  position: relative;
}

.dynamik_text2 li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
  background: #000;
  animation: types2 2.5s steps(35) forwards;
}
@keyframes types2 {
  100% {
    left: 100%;
    margin: 0 -2.1875rem 0 2.1875rem;
  }
}

.nextDraw {
  color: #00007a;
  -webkit-text-stroke: 0.125rem #fff;
  font-size: 4.375rem;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
}
.nextDraw span {
  display: inline-block;
  position: relative;
  transform: translateY(-25rem);
  animation: fallNextDraw 3s infinite;
  animation-timing-function: cubic-bezier(0.1, 0.2, 0.4, 1);
}

@keyframes fallNextDraw {
  100% {
    transform: translateY(0);
  }
}
.line {
  position: relative;
  height: 0.625rem;
  border-radius: 0.625rem;
  width: 100%;
  background-color: #000;
  margin-top: 0.5rem;
}
.line::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blue;
  border-radius: 0.625rem;
  transform-origin: left;
  animation: animate 1s linear forwards;
  left: 0;
}
@keyframes animate {
  0% {
    transform: scaleX(0);
  }
}
.bottom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1875rem;
  font-weight: 800;
  color: green;
  height: 9.1875rem;
}

.bottom_text li span {
  position: relative;
  font-size: 3.125rem;
}

.dynamik_text_bottom li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0.625rem;
  background: #000;
  animation: typesBottom 6.5s steps(45) forwards;
}
@keyframes typesBottom {
  100% {
    left: 100%;
    margin: 0 -2.1875rem 0 2.1875rem;
  }
}

.second_inner {
  width: 53%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.slot_machines {
  width: 50%;
  display: flex;
  padding: 0.375rem;
}
.third_inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 6.5625rem;
}
.slot_machines_third {
  width: 27%;
  display: flex;
  padding: 0.375rem;
}
.fourth_inner {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.slot_machines_fourth {
  width: 25%;
  display: flex;
  padding: 4px 1px;
}

.hZUxNm {
  font-size: 1rem;
}
.dVFlIL {
  width: 80% !important;
}
